@use "variables" as *;

.about {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: $spacing-800;
  }

  &__number {
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-200;
  }

  &__item {
    width: calc(100% / 2 - $spacing-200 / 2);
    border-radius: $spacing-100;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {
    @include flex-col-center($spacing-400);
    text-align: center;

    &-head {
      @include flex-col-center($spacing-200);
    }
  }

  &__subtitle {
    @include text-preset-3;
    color: $color-cyan-600;
  }

  &__title {
    @include text-preset-2;
    color: $color-slate-900;
  }

  &__text {
    @include text-preset-4;
    color: $color-slate-600;
  }

  @media (min-width: 48rem) {

    &__list {
      gap: $spacing-300;
    }

    &__item {
      width: calc(100% / 4 - ($spacing-300 * 3) / 4);
    }

    &__title {
      max-width: 75%;
    }

    &__text {
      max-width: 75%;
    }
  }

  @media (min-width: 64rem) {

    &__list {
      gap: $spacing-400;
    }

    &__item {
      width: calc(100% / 4 - ($spacing-400 * 3) / 4);
    }
  }
}