@use "variables" as *;

.footer {
  padding: $spacing-400 0 0;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__number {
    margin: 0 auto;
    transform: translateY(28px);
  }

  &__block {
    position: relative;
    padding: $spacing-800 0;
    background-image: url("../img/mobile/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-cyan-600;
      opacity: .8;
      z-index: -1;
    }
  }

  &__content {
    @include flex-col-center($spacing-300);
    text-align: center;
  }

  &__title {
    @include text-preset-2;
    color: $color-white;
  }

  &__text {
    @include text-preset-4;
    color: $color-white;

    br {
      display: none;
    }
  }

  @media (min-width: 48rem) {
    padding-top: 0;

    &__block {
      background-image: url("../img/tablet/image-footer.jpg");
    }

    &__text {
      max-width: 70%;
    }
  }

  @media (min-width: 64rem) {
    &__block {
      padding-top: $spacing-1400;
      padding-bottom: $spacing-1400;
    }

    &__content {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      text-align: left;
      gap: $spacing-400;
    }

    &__text {

      br {
        display: inline;
      }
    }
  }
}